*{
    margin: 0;
    padding : 0;
    box-sizing: border-box;
    font-family: cursive;

}

.main-heading{
    background-color: rgba(232, 232, 32, 0.819);
    padding : 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.main-heading h1{
    font-size: 3rem;
    font-family: cursive;
}

button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: none;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: cursive;
   }
   
   button.add-note {
    width: 12rem;
    height: auto;
   }
   
   button.add-note .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: #282936;
    border-radius: 1.625rem;
   }
   
   button.add-note .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
   }
   
   button.add-note .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
   }
   
   button.add-note .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
   }
   
   button.add-note .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: #282936;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
   }
   
   button:hover .circle {
    width: 100%;
   }
   
   button:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
   }
   
   button:hover .button-text {
    color: #fff;
   }

   .note-container{
    padding: 1rem;
    display: flex;
    gap : 1rem;
    flex-wrap: wrap;
    width : 80%;
    justify-content: center;
    margin: 0 auto;
   }

   /* .note-cover{
        position: absolute;
        width : 22rem;
        height: 18rem;
        border-radius: 1rem;
        background-color: #282936;
        z-index: 5;

    } */
   .note{
    width : 22rem;
    height: 18rem;
    padding : 1rem;
    background-color: aliceblue;
    text-align: center;
    border-radius: 1rem;
   }

   .note-heading{
    width: 100%;
    font-size: 1.5rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight :600;
    text-align: center;
    background: transparent;
    /* outline : none;
    border: none;
    border-radius: 1rem; */
    margin : 0 auto .5rem;
   }

   .note-descp{
    padding : .3rem;
    font-size: 1rem;
    display: inline-block;
    width : 100%;
    background : transparent;
    border : none;
    outline: none;
    resize: none;
    text-align: center;
    text-overflow: ellipsis;

   }

   .note-descp::-webkit-scrollbar{
    display: none;
   }

   hr{
    border: 2px solid ;
    border-bottom: 0;
    border-inline: 0;
   }

   .note-footer{
    padding: .3rem;
    color: rgb(98, 95, 95);
   }

    .note-heading, .note-descp, .note-footer{
        cursor: pointer;
    }


   .icons{
    display: flex;
    justify-content: space-between;
   }

   .icons i{
    cursor: pointer;
   }

   .icons .tools i{
    margin-right: 8px;
   }

   
   .popup-form .popup{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap : 1rem;
    border-radius: 1rem;
    font-size: 1.3rem;
    width : 25rem;
    position: absolute;
    top : 55%;
    left : 50%;
    transform: translate(-50%, -50%);
    background-color: aquamarine;
    z-index: 2;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .8);
    transition: all 0.5s;
   }
   .popup-form .popup .heading{
    position: relative;
   }
   .popup-form .popup .heading i{
    position: absolute;
    right : 2px;
    top : -5px;
    font-size: 1.8rem;
    cursor: pointer;
   }

   .popup-form .popup input{
    box-shadow: 0 0 0 30px inset white;
   }

   .popup-form .popup input, .popup-form .popup .txtaria{
    font-size: 1.3rem;
    font-family :'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: .6rem;
    border-radius: 1rem;
    border: none;
    resize: none;
   }

   .popup-form .popup .txtaria::-webkit-scrollbar{
    display: none;
   }

   .popup-form .popup .addnote{
    width: 10rem;
    background-color: rgb(20, 222, 34);
    margin: 0 auto;
    border-radius: 5px;
    padding: .3rem;
   }


   .popup-form .active.popup{
    visibility: hidden;
    opacity : 0;
    top : 30%;
   }
   .note-container.active{
    filter: blur(5px) brightness(.7);
   }

    .pinned.note .fa-thumbtack{
    transform: rotate(-45deg);
   }
